/*
 * Copyright 2013 de Jos� Yoshiriro (jyoshiriro@gmail.com) e Raimundo Norberto (raimundonorberto@gmail.com)
 * Este arquivo � parte do programa Olho na C�mara.
 * 
 * O Olho na C�mara � um software livre; voc� pode redistribu�-lo e/ou modific�-lo dentro
 * dos termos da GNU Affero General Public License como publicada pela Funda��o do Software Livre
 * (FSF); na vers�o 3 da Licen�a. Este programa � distribu�do na esperan�a que possa ser
 * �til, mas SEM NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer
 * MERCADO ou APLICA��O EM PARTICULAR. Veja a licen�a para maiores detalhes. Voc� deve ter
 * recebido uma c�pia da GNU Affero General Public License, sob o t�tulo 'LICENCA.txt', junto com
 * este programa, se n�o, acesse http://www.gnu.org/licenses/
 */
body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom 
{
    margin-right: 0px;
}

.lado-a-lado {
	float: left;
	margin: 0.3em;
	padding-top: 0.5em;
	width: 15em;
	height: 8.3em;
	text-align: center;
	background-color: #EFFBF5;
	border-color: #BDBDBD;
	border-style: solid;
	border-width: 1px;
}

.lado-a-lado.pequeno {
	width: 12.5em;
	height: auto;
	padding-bottom: 0.5em;
}

.lado-a-lado.pequeno a {
	padding-right: 0em;
}

.lado-a-lado.medio {
	width: 25em;
	height: auto;
	padding-bottom: 0.5em;
}

.lado-a-lado.medio a {
	padding-right: 0em;
}

.lado-a-lado.nao {
	background-color: #FFF;
	border-color: #CEE3F6;
}

.lado-a-lado a {
	text-decoration: none;
	padding: 0.5em;
	margin: 0.5em;
	color: black;
}

a.curto {
	padding: 0em;
	margin: 0em;
	color: #2a6496;
}

b.marcado {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	font-size: 25px;
	background-image: url(../images/icone-marcado.png);
}

b.marcado.nao {
	background-image: url(../images/icone-add.png);
}

b.marcado {
	border: 1px;
	border-color: white;
	border-style: solid;
}

b.marcado:HOVER,b.marcado.nao:HOVER {
	border-color: navy;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
	padding: 0.5em;
	position: absolute;
	left: 0.5em;
	top: 0.5em;
	z-index: 9999;
}

.container .navbar.navbar-default {
	width: 30%;
	float: left;
	margin-right: 1em;
}

.navbar-text a {
	color: #222222;
}

.info-acompanhamento {
	width: 22em;
	float: right;
	margin-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	padding: 0.5em;
	background-color: #EFFBF5;
	border: 1px solid #EFFBF5;
}

div.acompanhando {
	background-color: #EFFBF5;
}

.info-acompanhamento.nao{
	border: 1px solid #EFFBF5;
	background-color: #FFF;
}

.painel{
	width: 96%; 
	margin-top: 3.5em;
	margin-left: 2%;
	height: 21em;
}

.alert.alert-warning.painel{
	color:#886A08;		
}

.alert.painel p{
	margin-bottom: 1em;
	text-align: justify;
}
.alert.painel li{
	margin-bottom: 0.3em;
	font-weight: bold;
}
.alert.painel li span{
	font-weight: normal;
}

.botao-face{
	background: url('../images/botao-face.png') no-repeat scroll 0 0 transparent;
	width: 89px;
	height: 24px;
	border: 0 none;
	display: inline-block;
}

.botao-twitter {
	background: url('../images/botao-twitter.png') no-repeat scroll 0 0 transparent;
	width: 89px;
	height: 24px;
	border: 0 none;
	display: inline-block;
	padding-top: 1em;
}

.peq {
	color: #CCC;
	font-size: 1em;
}

.redes {
	padding: 0.5em 0.5em 2em 0.5em;
}

/*
.redes a {
	padding-top: 1em;
}

.redes.peq {
	margin-left: 1em;
	margin-right: 1em;
}
*/

.carousel-caption {
	right: 20%;
	left: 0%;
	top: 0%;
	vertical-align: text-top;
	width: 100%;
	z-index: 999;
	height: 3em;
	margin-top: 1.5em;
	padding-top: 0px;
	padding-bottom: 0em;
	background-color: rgba(0,30,0,0.5);
	opacity: .9;
	filter: alpha(opacity=90);
	font-weight: bold;
}

.carousel-indicators {
	top: 0%;	
}

.carousel-caption:HOVER {
}

.carousel img {
	min-width: 100%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.absolute-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

li>a.ativo{
	color: white !important;
}